{
	"disabled_triggers": {
		"msg": [],
		"new_member": [],
		"reaction": []
	},
	"quack_channels": [],
	"SERVER_ID": 0,

	"connectfour": {
		"max_cols": 15,
		"max_games": 10,
		"max_players": 8,
		"max_rows": 10,
		"pieces": [":red_circle:", ":large_blue_circle:", ":white_circle:", ":no_mouth:", ":full_moon_with_face:", ":smiling_imp:", ":sick:", ":radioactive:"]
	},

	"welcome_channel_id": 0,
	"spam_channel_ids": [],

	"recent_class_cache_size": 100,
	"min_trigger_fuzzy_score": 90,

	"MOD_ROLE_ID": 0,

	"TIME_OUT_ID": 0,

	"LOG_SERVER_ID": 0,
	"DM_LOG_CHANNEL_ID": 0,

	"TRACEBACK_SERVER_ID": 0,
	"TRACEBACK_CHANNEL_ID": 0,
}
