{
	"welcome_public": "Welcome {}! Please check out #faq for information on how to verify yourself.",

	"code": "My code can be found here: https://gitlab.com/benjaminrsherman/slithering-duck/tree/fix_requirements\nPlease message `@Phi11ipus#0001` if you have any issues.",

	"emoji_mode_channel_activate": "This channel is now in emoji only mode. Your messages must only contain emoji.",
	"emoji_mode_channel_deactivate": "This channel is no longer in emoji only mode. You are free to send normal text.",
	"emoji_mode_user_activate": "You are now in emoji only mode. Your messages must only contain emoji.",
	"emoji_mode_user_activate_public": "{} has been placed into emoji mode.",
	"emoji_mode_user_deactivate": "You are no longer in emoji only mode. You are free to send normal text.",
	"emoji_mode_user_deactivate_public": "{} has been removed from emoji mode.",
	"emoji_mode_dm": "You sent a message that contained non emoji characters in an emoji only chat. Your message has been removed!",

	"invalid_command": "Sorry, I didn't understand the command `{}`.  To get a list of valid commands, send `!help`.",
	"send_to_spam_channel": "To limit spam that command only works in:{}",

	"connectfour_err_max_cols": ":warning: You may not have more than {} columns.",
	"connectfour_err_max_rows": ":warning: You may not have more than {} rows.",
	"connectfour_err_no_opponent": ":warning: You must specify at least one opponent.",
	"connectfour_err_num": ":warning: The number you entered is invalid.",
	"connectfour_err_players": ":warning: You may only have up to {} players in a game.",
	"connectfour_err_size": ":warning: The size of the board is too large.",
	"connectfour_err_bot_player": ":warning: A bot can not be a player.",

	"tictactoe_err_num_players": ":warning: There can only be 2 players in a game.",
	"tictactoe_err_bot_player": ":warning: A bot can not be a player.",

	"rockpaperscissors_existing_game": ":warning: There is already an active RPS game between {} and {}",
	"rockpaperscissors_num_players": ":warning: There can only be 2 players in a game.",
	"rockpaperscissors_bot_player": ":warning: A bot can not be a player.",

	"ms_too_large": ":warning: The board you requested is too large to send on Discord"
}
