{
	"academic_integrity": "<:academic_integrity_plum:782000390576144414><:academic_integrity_cutler:563451994321322021><:academic_integrity_patterson:573263257033244675>\nPlease do not share any class related work on this server. If you see any code please PM an admin to have it removed. \nAlso make sure you are following the Academic Integrity as stated on page 16 of the Student Handbook: https://info.rpi.edu/sites/default/files/Rensselaer%20Handbook%20of%20Student%20Rights%20%26%20Responsibilities%20%C2%BB.pdf",
	"code": "My code can be found here: https://gitlab.com/rpi-academic-discord/slithering-duck\nPlease add any issues to the issue tracker or submit pull requests.\nRubber Duck is courtesy of \"Eli#8092\" and \"Phi11ipus#0001\". If you find any bugs or have a feature suggestion, feel free to send one of them a DM.",

	"welcome_public": "Welcome {}! Make sure to check your PM for how to view private class-specific chats.",
	"welcome_dm": "Hi there! Welcome to the RPI Academic Discord Server. As you might’ve noticed, things look a little empty over there! Let’s fix that by giving you some class specific roles.\nTo add a class, please message me `!add CLASS NAME`.  (You can view the list of roles and departments with the command `!list`)",

	"emoji_mode_channel_activate": "This channel is now in emoji only mode. Your messages must only contain emoji.",
	"emoji_mode_channel_deactivate": "This channel is no longer in emoji only mode. You are free to send normal text.",
	"emoji_mode_user_activate": "You are now in emoji only mode. Your messages must only contain emoji.",
	"emoji_mode_user_activate_public": "{} has been placed into emoji mode.",
	"emoji_mode_user_deactivate": "You are no longer in emoji only mode. You are free to send normal text.",
	"emoji_mode_user_deactivate_public": "{} has been removed from emoji mode.",
	"emoji_mode_dm": "You sent a message that contained non emoji characters in an emoji only chat. Your message has been removed!",

	"invalid_class_list_format": "This command must be of the form `!list XXXX`, where `XXXX` is the **4 letter department code** you're searching for. Type `!list` to view the list of valid codes. Please note that a major and a department code are different. If you are looking to add a major instead, please type `!add MAJOR`.",
	"invalid_class_add_format": "This command must be of the form `!add` followed by the course or role you are trying to add.  To list the courses for a subject, use `!list XXXX`, where `XXXX` is the **4 letter department code** you're searching for. Type `!list` to view the list of valid codes. Please note that a major and a department code are different.",
	"dept_not_found": "I am sorry I could not find a class from the department `{}`.  For a list of the 4 letter department codes, reuse the `!classes` command without arguments.",
	"class_list_prelude": "Classes for {}:",
	"general_class_list_prelude": "Below are the general roles you can add, as well as the department codes",
	"post_general_class_list": "To view classes for a specific department, use `!list XXXX` or `!classes XXXX` where XXXX is the **4 letter department code**",

	"add_role_confirmation": "You have been given the role `{}`.",
	"add_hidden_role": "You have been added to the hidden role.  Please do not discuss this role publicly.",
	"add_no_roles_match": "It looks like none of the roles matched your search. Your search may have not been in the correct format. For example to add Data Structures type, `!add Data Structures` or `!add csci 1200`",
	"remove_role_confirmation": "You have been removed from the role `{}`.",
	"remove_hidden_role": "You have been removed from the hidden role.  Please do not discuss this role publicly.",
	"remove_no_roles_match": "It looks like none of the roles matched your search. Your search may have not been in the correct format. For example to remove Data Structures type, `!remove Data Structures` or `!remove csci 1200`",
	"class_add_welcome": "Welcome to {}, {}",

	"add_mod_message": "You can't just declare yourself a mod",
	"issue": "Rubber Duck is an open source project. If you want to report an issue or implement your own ideas, you can do so here:\n<https://gitlab.com/rpi-academic-discord/slithering-duck/issues/new>\n",

	"add_class_prompt": ", your search for **{}** retrieved these results.\nClick the corresponding reaction to add that class:",
	"class_add_confirmation": "You have been added to {}.",
	"err_adding_class": "There was an error adding you to this class.  Please message a server admin and we'll figure something out.  Tell them this: {}",
	"add_no_content": "To use this command, please specify a class or role to add.  For example: `!add Data Structures`",

	"remove_class_prompt": ", your search for **{}** retrieved these results.\nClick the corresponding reaction to remove that class:",
	"class_remove_confirmation": "You have been removed from {}.",
	"err_removing_class": "There was an error removing you from this class.  Please message a server admin and we'll figure something out.  Tell them this: {}",
	"remove_no_content": "To use this command, please specify a class or role to remove.  For example: `!remove Data Structures`",

	"invalid_permissions": "Error: Invalid permissions to run this command",
	"invalid_command": "Sorry, I didn't understand the command `{}`.  To get a list of valid commands, send `!help`.",
	"send_to_spam_channel": "To limit spam that command only works in:{}",

	"no_xkcd_found": "Sorry, I could not find any XKCD for `{}`. Don't forget you can also get a random XKCD with just the command `!xkcd`",

	"connectfour_err_max_cols": ":warning: You may not have more than {} columns.",
	"connectfour_err_max_rows": ":warning: You may not have more than {} rows.",
	"connectfour_err_no_opponent": ":warning: You must specify at least one opponent.",
	"connectfour_err_num": ":warning: The number you entered is invalid.",
	"connectfour_err_players": ":warning: You may only have up to {} players in a game.",
	"connectfour_err_size": ":warning: The size of the board is too large.",
	"connectfour_err_bot_player": ":warning: A bot can not be a player.",

	"tictactoe_err_num_players": ":warning: There can only be 2 players in a game.",
	"tictactoe_err_bot_player": ":warning: A bot can not be a player.",

	"rockpaperscissors_game_init": "Players DMed",
	"rockpaperscissors_existing_game": ":warning: There is already an active RPS game between {} and {}",
	"rockpaperscissors_num_players": ":warning: There can only be 2 players in a game.",
	"rockpaperscissors_bot_player": ":warning: A bot can not be a player.",

	"ms_too_large": ":warning: The board you requested is too large to send on Discord"
}
