Quack
%
Quack‽‽‽
%
QuAcK
%
qUaCk
%
404 Quack Not Found
%
QUOCK
%
Quack!
%
quack, quack?
%
QUACK
%
QQQQQUUUUUAAAACCCCKKKKK
%
QUACK!!!!
%
q u a c k
%
Quack? Quack. Quack!
%
Quackity Quack
%
Quack Quack, Quackity Quack
%
Quackity Quackity Quack
%
Quack?
%
:regional_indicator_q: :regional_indicator_u: :regional_indicator_a: :regional_indicator_c: :regional_indicator_k:
%
:regional_indicator_q:uack
%
:b:uack
